In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [4]:
df=data[0]

Zad 1

In [5]:
renamed_df=df.rename(columns={"HIGH POSN":"MAX POZ", "TITLE":"TYTUŁ", "ARTIST":"ARTYSTA", "YEAR":"ROK"})
renamed_df

,POS,TYTUŁ,ARTYSTA,ROK,MAX POZ
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1
10,11,RUMOURS,FLEETWOOD MAC,1977,1
11,12,THE IMMACULATE COLLECTION,MADONNA,1990,1
12,13,BACK TO BLACK,AMY WINEHOUSE,2006,1
13,14,STARS,SIMPLY RED,1991,1
14,15,COME ON OVER,SHANIA TWAIN,1997,1
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984,1
16,17,BACK TO BEDLAM,JAMES BLUNT,2004,1
17,18,URBAN HYMNS,VERVE,1997,1
18,19,BAT OUT OF HELL,MEAT LOAF,1977,9
19,20,1,BEATLES,2000,1
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970,1
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987,4
22,23,SPIRIT,LEONA LEWIS,2007,1
23,24,CRAZY LOVE,MICHAEL BUBLE,2009,1
24,25,NO ANGEL,DIDO,2000,1
25,26,WHITE LADDER,DAVID GRAY,1998,1
26,27,25,ADELE,2015,1
27,28,TALK ON CORNERS,CORRS,1997,1
28,29,SPICE,SPICE GIRLS,1996,1
29,30,THE FAME,LADY GAGA,2008,1
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002,1
31,32,LIFE FOR RENT,DIDO,2003,1
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008,1
33,34,BEAUTIFUL WORLD,TAKE THAT,2006,1
34,35,HOPES AND FEARS,KEANE,2004,1
35,36,THE JOSHUA TREE,U2,1987,1
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978,5
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004,1
38,39,BUT SERIOUSLY,PHIL COLLINS,1989,1
39,40,X&Y,COLDPLAY,2005,1
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995,1
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973,1
42,43,THE MAN WHO,TRAVIS,1999,1
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988,1
44,45,PARACHUTES,COLDPLAY,2000,1
45,46,GREATEST HITS,ABBA,1975,1
46,47,GREASE,ORIGINAL SOUNDTRACK,1977,1
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998,1
48,49,X,ED SHEERAN,2014,1
49,50,COME AWAY WITH ME,NORAH JONES,2002,1
50,51,GRACELAND,PAUL SIMON,1986,1
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965,1
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998,1
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987,1
54,55,THE MARSHALL MATHERS LP,EMINEM,2000,1
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001,1
56,57,PROGRESS,TAKE THAT,2010,1
57,58,EYES OPEN,SNOW PATROL,2006,1
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005,2
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992,1

Zad 2

In [6]:
renamed_df["ARTYSTA"].nunique()

47

Na liście jest 47 artystów

Zad 3

In [7]:
renamed_df["ARTYSTA"].value_counts()

COLDPLAY                    3
TAKE THAT                   3
FLEETWOOD MAC               2
ABBA                        2
DIDO                        2
ORIGINAL SOUNDTRACK         2
QUEEN                       2
ROBBIE WILLIAMS             2
BEATLES                     2
MICHAEL JACKSON             2
ADELE                       2
SNOW PATROL                 1
KEANE                       1
U2                          1
JEFF WAYNE                  1
SCISSOR SISTERS             1
PHIL COLLINS                1
GEORGE MICHAEL              1
EMINEM                      1
MIKE OLDFIELD               1
TRAVIS                      1
TRACY CHAPMAN               1
ED SHEERAN                  1
NORAH JONES                 1
PAUL SIMON                  1
ORIGINAL CAST RECORDING     1
ALANIS MORISSETTE           1
CORRS                       1
KINGS OF LEON               1
BOB MARLEY & THE WAILERS    1
OASIS                       1
PINK FLOYD                  1
DIRE STRAITS                1
MADONNA                     1
AMY WINEHOUSE               1
SIMPLY RED                  1
SHANIA TWAIN                1
JAMES BLUNT                 1
LADY GAGA                   1
VERVE                       1
MEAT LOAF                   1
SIMON & GARFUNKEL           1
LEONA LEWIS                 1
MICHAEL BUBLE               1
DAVID GRAY                  1
SPICE GIRLS                 1
REM                         1
Name: ARTYSTA, dtype: int64

Na liście najczęściej pojawiają się Coldplay i Take That

Zad 4

In [8]:
formatted_df=renamed_df.rename(str.capitalize, axis="columns")
formatted_df

,Pos,Tytuł,Artysta,Rok,Max poz
0,1,GREATEST HITS,QUEEN,1981,1
1,2,GOLD - GREATEST HITS,ABBA,1992,1
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967,1
3,4,21,ADELE,2011,1
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995,1
5,6,THRILLER,MICHAEL JACKSON,1982,1
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973,2
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985,1
8,9,BAD,MICHAEL JACKSON,1987,1
9,10,GREATEST HITS II,QUEEN,1991,1
10,11,RUMOURS,FLEETWOOD MAC,1977,1
11,12,THE IMMACULATE COLLECTION,MADONNA,1990,1
12,13,BACK TO BLACK,AMY WINEHOUSE,2006,1
13,14,STARS,SIMPLY RED,1991,1
14,15,COME ON OVER,SHANIA TWAIN,1997,1
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984,1
16,17,BACK TO BEDLAM,JAMES BLUNT,2004,1
17,18,URBAN HYMNS,VERVE,1997,1
18,19,BAT OUT OF HELL,MEAT LOAF,1977,9
19,20,1,BEATLES,2000,1
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970,1
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987,4
22,23,SPIRIT,LEONA LEWIS,2007,1
23,24,CRAZY LOVE,MICHAEL BUBLE,2009,1
24,25,NO ANGEL,DIDO,2000,1
25,26,WHITE LADDER,DAVID GRAY,1998,1
26,27,25,ADELE,2015,1
27,28,TALK ON CORNERS,CORRS,1997,1
28,29,SPICE,SPICE GIRLS,1996,1
29,30,THE FAME,LADY GAGA,2008,1
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002,1
31,32,LIFE FOR RENT,DIDO,2003,1
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008,1
33,34,BEAUTIFUL WORLD,TAKE THAT,2006,1
34,35,HOPES AND FEARS,KEANE,2004,1
35,36,THE JOSHUA TREE,U2,1987,1
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978,5
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004,1
38,39,BUT SERIOUSLY,PHIL COLLINS,1989,1
39,40,X&Y,COLDPLAY,2005,1
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995,1
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973,1
42,43,THE MAN WHO,TRAVIS,1999,1
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988,1
44,45,PARACHUTES,COLDPLAY,2000,1
45,46,GREATEST HITS,ABBA,1975,1
46,47,GREASE,ORIGINAL SOUNDTRACK,1977,1
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998,1
48,49,X,ED SHEERAN,2014,1
49,50,COME AWAY WITH ME,NORAH JONES,2002,1
50,51,GRACELAND,PAUL SIMON,1986,1
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965,1
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998,1
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987,1
54,55,THE MARSHALL MATHERS LP,EMINEM,2000,1
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001,1
56,57,PROGRESS,TAKE THAT,2010,1
57,58,EYES OPEN,SNOW PATROL,2006,1
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005,2
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992,1

Zad 5

In [9]:
df_2=formatted_df.drop("Max poz", axis=1)
df_2

,Pos,Tytuł,Artysta,Rok
0,1,GREATEST HITS,QUEEN,1981
1,2,GOLD - GREATEST HITS,ABBA,1992
2,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967
3,4,21,ADELE,2011
4,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995
5,6,THRILLER,MICHAEL JACKSON,1982
6,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973
7,8,BROTHERS IN ARMS,DIRE STRAITS,1985
8,9,BAD,MICHAEL JACKSON,1987
9,10,GREATEST HITS II,QUEEN,1991
10,11,RUMOURS,FLEETWOOD MAC,1977
11,12,THE IMMACULATE COLLECTION,MADONNA,1990
12,13,BACK TO BLACK,AMY WINEHOUSE,2006
13,14,STARS,SIMPLY RED,1991
14,15,COME ON OVER,SHANIA TWAIN,1997
15,16,LEGEND,BOB MARLEY & THE WAILERS,1984
16,17,BACK TO BEDLAM,JAMES BLUNT,2004
17,18,URBAN HYMNS,VERVE,1997
18,19,BAT OUT OF HELL,MEAT LOAF,1977
19,20,1,BEATLES,2000
20,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970
21,22,DIRTY DANCING,ORIGINAL SOUNDTRACK,1987
22,23,SPIRIT,LEONA LEWIS,2007
23,24,CRAZY LOVE,MICHAEL BUBLE,2009
24,25,NO ANGEL,DIDO,2000
25,26,WHITE LADDER,DAVID GRAY,1998
26,27,25,ADELE,2015
27,28,TALK ON CORNERS,CORRS,1997
28,29,SPICE,SPICE GIRLS,1996
29,30,THE FAME,LADY GAGA,2008
30,31,A RUSH OF BLOOD TO THE HEAD,COLDPLAY,2002
31,32,LIFE FOR RENT,DIDO,2003
32,33,ONLY BY THE NIGHT,KINGS OF LEON,2008
33,34,BEAUTIFUL WORLD,TAKE THAT,2006
34,35,HOPES AND FEARS,KEANE,2004
35,36,THE JOSHUA TREE,U2,1987
36,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978
37,38,SCISSOR SISTERS,SCISSOR SISTERS,2004
38,39,BUT SERIOUSLY,PHIL COLLINS,1989
39,40,X&Y,COLDPLAY,2005
40,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995
41,42,TUBULAR BELLS,MIKE OLDFIELD,1973
42,43,THE MAN WHO,TRAVIS,1999
43,44,TRACY CHAPMAN,TRACY CHAPMAN,1988
44,45,PARACHUTES,COLDPLAY,2000
45,46,GREATEST HITS,ABBA,1975
46,47,GREASE,ORIGINAL SOUNDTRACK,1977
47,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998
48,49,X,ED SHEERAN,2014
49,50,COME AWAY WITH ME,NORAH JONES,2002
50,51,GRACELAND,PAUL SIMON,1986
51,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965
52,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998
53,54,TANGO IN THE NIGHT,FLEETWOOD MAC,1987
54,55,THE MARSHALL MATHERS LP,EMINEM,2000
55,56,SWING WHEN YOU'RE WINNING,ROBBIE WILLIAMS,2001
56,57,PROGRESS,TAKE THAT,2010
57,58,EYES OPEN,SNOW PATROL,2006
58,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005
59,60,AUTOMATIC FOR THE PEOPLE,REM,1992

Zad 6

In [11]:
albums_per_year=df_2.groupby(pd.Grouper(key="Rok")).agg({"Artysta":"count"})

In [12]:
albums_per_year.sort_values(by="Artysta", ascending=False)

      Artysta
Rok
2000        4
1987        4
2006        3
1977        3
1998        3
2004        3
1997        3
2008        2
2005        2
1992        2
2002        2
1991        2
1973        2
1995        2
1975        1
2003        1
1988        1
2014        1
1999        1
1986        1
1965        1
1989        1
1978        1
2001        1
1981        1
2007        1
1996        1
2015        1
2009        1
1970        1
1984        1
1990        1
1985        1
1982        1
2011        1
1967        1
2010        1

Najwięcej albumów wyszło w latach 1987 oraz 2000

Zad 8

In [13]:
albums_per_year.sort_index()

      Artysta
Rok
1965        1
1967        1
1970        1
1973        2
1975        1
1977        3
1978        1
1981        1
1982        1
1984        1
1985        1
1986        1
1987        4
1988        1
1989        1
1990        1
1991        2
1992        2
1995        2
1996        1
1997        3
1998        3
1999        1
2000        4
2001        1
2002        2
2003        1
2004        3
2005        2
2006        3
2007        1
2008        2
2009        1
2010        1
2011        1
2014        1
2015        1

Najmłodszy album na liście został wydany w 2015 roku

Zadanie 7

In [14]:
df_filtered = df_2[(df_2['Rok'] >= 1960) & (df_2['Rok'] <= 1990)]
df_filtered.count()

Pos        22
Tytuł      22
Artysta    22
Rok        22
dtype: int64

Na liście znajdują się 22 albumy wydane między 1960 a 1990 rokiem włącznie

Zad 9

In [15]:
table_to_export=(formatted_df.sort_values(by="Rok", ascending=False)).drop_duplicates(subset="Artysta")

Zad 10

In [ ]:
table_to_export.to_csv("C:/Users/user/OneDrive/Desktop/Kodilla/Albums/Exported_list.csv", index=False)